In [1]:
import numpy as np
import pandas as pd
from keras.utils import to_categorical

Using TensorFlow backend.

In [2]:
data = pd.read_csv('SN.csv')

In [3]:
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
5    15728773    Male   27            58000          0
6    15598044  Female   27            84000          0
7    15694829  Female   32           150000          1
8    15600575    Male   25            33000          0
9    15727311  Female   35            65000          0
10   15570769  Female   26            80000          0
11   15606274  Female   26            52000          0
12   15746139    Male   20            86000          0
13   15704987    Male   32            18000          0
14   15628972    Male   18            82000          0
15   15697686    Male   29            80000          0
16   15733883    Male   47            25000          1
17   15617482    Male   45            26000          1
18   15704583    Male   46            28000          1
19   15621083  Female   48            29000          1
20   15649487    Male   45            22000          1
21   15736760  Female   47            49000          1
22   15714658    Male   48            41000          1
23   15599081  Female   45            22000          1
24   15705113    Male   46            23000          1
25   15631159    Male   47            20000          1
26   15792818    Male   49            28000          1
27   15633531  Female   47            30000          1
28   15744529    Male   29            43000          0
29   15669656    Male   31            18000          0
..        ...     ...  ...              ...        ...
370  15611430  Female   60            46000          1
371  15774744    Male   60            83000          1
372  15629885  Female   39            73000          0
373  15708791    Male   59           130000          1
374  15793890  Female   37            80000          0
375  15646091  Female   46            32000          1
376  15596984  Female   46            74000          0
377  15800215  Female   42            53000          0
378  15577806    Male   41            87000          1
379  15749381  Female   58            23000          1
380  15683758    Male   42            64000          0
381  15670615    Male   48            33000          1
382  15715622  Female   44           139000          1
383  15707634    Male   49            28000          1
384  15806901  Female   57            33000          1
385  15775335    Male   56            60000          1
386  15724150  Female   49            39000          1
387  15627220    Male   39            71000          0
388  15672330    Male   47            34000          1
389  15668521  Female   48            35000          1
390  15807837    Male   48            33000          1
391  15592570    Male   47            23000          1
392  15748589  Female   45            45000          1
393  15635893    Male   60            42000          1
394  15757632  Female   39            59000          0
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
User ID            400 non-null int64
Gender             400 non-null object
Age                400 non-null int64
EstimatedSalary    400 non-null int64
Purchased          400 non-null int64
dtypes: int64(4), object(1)
memory usage: 15.7+ KB

In [5]:
data.drop('User ID',axis=1,inplace=True)

In [6]:
target=to_categorical(data['Purchased'])

In [7]:
data.drop(['Purchased','Gender'],axis=1,inplace=True)

In [19]:
data.head(10)

        Age  EstimatedSalary
0  0.023810         0.029630
1  0.404762         0.037037
2  0.190476         0.207407
3  0.214286         0.311111
4  0.023810         0.451852
5  0.214286         0.318519
6  0.214286         0.511111
7  0.333333         1.000000
8  0.166667         0.133333
9  0.404762         0.370370

In [18]:
data = data.apply(lambda x: (x - np.min(x)) / (np.max(x) - np.min(x)))

In [20]:
from keras.layers import Dense

In [21]:
from keras.models import Sequential

In [22]:
n_cols=data.shape[1]

In [23]:
n_cols

2

In [24]:
model = Sequential()

In [25]:
model.add(Dense(100,activation='relu',input_shape=(n_cols,)))
model.add(Dense(100,activation='relu'))
model.add(Dense(2,activation='softmax'))

WARNING:tensorflow:From /home/britto/myenv/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [26]:
model.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['accuracy'])

In [27]:
model.fit(data,target,epochs=50,validation_split=0.2)

WARNING:tensorflow:From /home/britto/myenv/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 320 samples, validate on 80 samples
Epoch 1/50
320/320 [==============================] - 1s 4ms/step - loss: 0.6827 - acc: 0.6781 - val_loss: 0.7584 - val_acc: 0.3625
Epoch 2/50
320/320 [==============================] - 0s 37us/step - loss: 0.6567 - acc: 0.7125 - val_loss: 0.7823 - val_acc: 0.3625
Epoch 3/50
320/320 [==============================] - 0s 34us/step - loss: 0.6363 - acc: 0.7125 - val_loss: 0.7932 - val_acc: 0.3625
Epoch 4/50
320/320 [==============================] - 0s 38us/step - loss: 0.6096 - acc: 0.7125 - val_loss: 0.7508 - val_acc: 0.3625
Epoch 5/50
320/320 [==============================] - 0s 39us/step - loss: 0.5768 - acc: 0.7125 - val_loss: 0.7197 - val_acc: 0.3750
Epoch 6/50
320/320 [==============================] - 0s 46us/step - loss: 0.5341 - acc: 0.7250 - val_loss: 0.6877 - val_acc: 0.4000
Epoch 7/50
320/320 [==============================] - 0s 38us/step - loss: 0.4853 - acc: 0.7688 - val_loss: 0.6296 - val_acc: 0.6000
Epoch 8/50
320/320 [==============================] - 0s 39us/step - loss: 0.4318 - acc: 0.8250 - val_loss: 0.5410 - val_acc: 0.7375
Epoch 9/50
320/320 [==============================] - 0s 38us/step - loss: 0.3875 - acc: 0.8531 - val_loss: 0.5473 - val_acc: 0.6875
Epoch 10/50
320/320 [==============================] - 0s 36us/step - loss: 0.3500 - acc: 0.8438 - val_loss: 0.4403 - val_acc: 0.7750
Epoch 11/50
320/320 [==============================] - 0s 29us/step - loss: 0.3267 - acc: 0.8625 - val_loss: 0.4361 - val_acc: 0.7750
Epoch 12/50
320/320 [==============================] - 0s 36us/step - loss: 0.3038 - acc: 0.8656 - val_loss: 0.3619 - val_acc: 0.8750
Epoch 13/50
320/320 [==============================] - 0s 35us/step - loss: 0.2914 - acc: 0.8688 - val_loss: 0.3619 - val_acc: 0.8625
Epoch 14/50
320/320 [==============================] - 0s 32us/step - loss: 0.2795 - acc: 0.8656 - val_loss: 0.3076 - val_acc: 0.9250
Epoch 15/50
320/320 [==============================] - 0s 33us/step - loss: 0.2731 - acc: 0.8844 - val_loss: 0.3297 - val_acc: 0.8750
Epoch 16/50
320/320 [==============================] - 0s 36us/step - loss: 0.2672 - acc: 0.8812 - val_loss: 0.3156 - val_acc: 0.8875
Epoch 17/50
320/320 [==============================] - 0s 39us/step - loss: 0.2597 - acc: 0.8969 - val_loss: 0.2640 - val_acc: 0.9375
Epoch 18/50
320/320 [==============================] - 0s 39us/step - loss: 0.2633 - acc: 0.8875 - val_loss: 0.3033 - val_acc: 0.8875
Epoch 19/50
320/320 [==============================] - 0s 42us/step - loss: 0.2555 - acc: 0.8812 - val_loss: 0.2629 - val_acc: 0.9125
Epoch 20/50
320/320 [==============================] - 0s 45us/step - loss: 0.2609 - acc: 0.8969 - val_loss: 0.2845 - val_acc: 0.9000
Epoch 21/50
320/320 [==============================] - 0s 39us/step - loss: 0.2540 - acc: 0.8938 - val_loss: 0.2840 - val_acc: 0.9000
Epoch 22/50
320/320 [==============================] - 0s 38us/step - loss: 0.2561 - acc: 0.8906 - val_loss: 0.2424 - val_acc: 0.9500
Epoch 23/50
320/320 [==============================] - 0s 42us/step - loss: 0.2544 - acc: 0.8938 - val_loss: 0.2934 - val_acc: 0.8875
Epoch 24/50
320/320 [==============================] - 0s 36us/step - loss: 0.2503 - acc: 0.8938 - val_loss: 0.2432 - val_acc: 0.9375
Epoch 25/50
320/320 [==============================] - 0s 42us/step - loss: 0.2464 - acc: 0.8969 - val_loss: 0.2750 - val_acc: 0.9000
Epoch 26/50
320/320 [==============================] - 0s 35us/step - loss: 0.2490 - acc: 0.8844 - val_loss: 0.2519 - val_acc: 0.9250
Epoch 27/50
320/320 [==============================] - 0s 34us/step - loss: 0.2515 - acc: 0.8938 - val_loss: 0.2628 - val_acc: 0.9000
Epoch 28/50
320/320 [==============================] - 0s 38us/step - loss: 0.2478 - acc: 0.8969 - val_loss: 0.2444 - val_acc: 0.9125
Epoch 29/50
320/320 [==============================] - 0s 41us/step - loss: 0.2400 - acc: 0.8969 - val_loss: 0.2710 - val_acc: 0.9000
Epoch 30/50
320/320 [==============================] - 0s 43us/step - loss: 0.2407 - acc: 0.8969 - val_loss: 0.2568 - val_acc: 0.9000
Epoch 31/50
320/320 [==============================] - 0s 41us/step - loss: 0.2419 - acc: 0.9000 - val_loss: 0.2339 - val_acc: 0.9250
Epoch 32/50
320/320 [==============================] - 0s 45us/step - loss: 0.2421 - acc: 0.8969 - val_loss: 0.2721 - val_acc: 0.9000
Epoch 33/50
320/320 [==============================] - 0s 34us/step - loss: 0.2402 - acc: 0.8938 - val_loss: 0.2222 - val_acc: 0.9500
Epoch 34/50
320/320 [==============================] - 0s 40us/step - loss: 0.2391 - acc: 0.8938 - val_loss: 0.2481 - val_acc: 0.9000
Epoch 35/50
320/320 [==============================] - 0s 41us/step - loss: 0.2367 - acc: 0.8969 - val_loss: 0.2433 - val_acc: 0.9125
Epoch 36/50
320/320 [==============================] - 0s 34us/step - loss: 0.2412 - acc: 0.9031 - val_loss: 0.2692 - val_acc: 0.9000
Epoch 37/50
320/320 [==============================] - 0s 38us/step - loss: 0.2364 - acc: 0.8969 - val_loss: 0.2321 - val_acc: 0.9375
Epoch 38/50
320/320 [==============================] - 0s 48us/step - loss: 0.2381 - acc: 0.8938 - val_loss: 0.2461 - val_acc: 0.9250
Epoch 39/50
320/320 [==============================] - 0s 34us/step - loss: 0.2407 - acc: 0.8969 - val_loss: 0.2605 - val_acc: 0.9000
Epoch 40/50
320/320 [==============================] - 0s 41us/step - loss: 0.2427 - acc: 0.8938 - val_loss: 0.2353 - val_acc: 0.9375
Epoch 41/50
320/320 [==============================] - 0s 35us/step - loss: 0.2454 - acc: 0.9031 - val_loss: 0.2675 - val_acc: 0.9000
Epoch 42/50
320/320 [==============================] - 0s 41us/step - loss: 0.2412 - acc: 0.9000 - val_loss: 0.2438 - val_acc: 0.9375
Epoch 43/50
320/320 [==============================] - 0s 36us/step - loss: 0.2343 - acc: 0.8938 - val_loss: 0.2570 - val_acc: 0.9000
Epoch 44/50
320/320 [==============================] - 0s 33us/step - loss: 0.2348 - acc: 0.9000 - val_loss: 0.2590 - val_acc: 0.9125
Epoch 45/50
320/320 [==============================] - 0s 37us/step - loss: 0.2342 - acc: 0.8938 - val_loss: 0.2544 - val_acc: 0.9250
Epoch 46/50
320/320 [==============================] - 0s 36us/step - loss: 0.2337 - acc: 0.8938 - val_loss: 0.2520 - val_acc: 0.9000
Epoch 47/50
320/320 [==============================] - 0s 36us/step - loss: 0.2340 - acc: 0.9000 - val_loss: 0.2295 - val_acc: 0.9375
Epoch 48/50
320/320 [==============================] - 0s 33us/step - loss: 0.2318 - acc: 0.8938 - val_loss: 0.2530 - val_acc: 0.9000
Epoch 49/50
320/320 [==============================] - 0s 38us/step - loss: 0.2320 - acc: 0.8969 - val_loss: 0.2369 - val_acc: 0.9375
Epoch 50/50
320/320 [==============================] - 0s 40us/step - loss: 0.2337 - acc: 0.8938 - val_loss: 0.2343 - val_acc: 0.9375